* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/*Fonts*/
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("../font/Mulish/Mulish-Bold.ttf");
}
@font-face {
  font-family: "Mulish-Semibold";
  src: url("../font/Mulish/Mulish-Medium.ttf");
}
@font-face {
  font-family: "Mulish-Ligth";
  src: url("../font/Mulish/Mulish-Light.ttf");
}
@font-face {
  font-family: "Montserrat-thin";
  src: url("../font/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../font/Montserrat/Montserrat-ExtraBold.ttf");
}
/*Variables*/
:root {
  --orange: #f2753b;
  --orange-light: #ebad65;
  --back-opacity: rgba(0, 0, 0, 0.3);
}

/*Reset proprities*/
input {
  all: unset;
}
