.modal {
  bottom: 0;
  width: 76%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 83%;
  background-color: #fff;
}
.modal:focus {
  outline: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--back-opacity);
}
/*IMAGE PLAYER*/
.image-player-modal {
  height: 28%;
  width: 60%;

  margin: 0 auto;
}
.image-player-modal img {
  height: 100%;
  width: 60%;
  object-fit: cover;
}
/*BUTTON CLOSE*/
.icon {
  display: inline-block;
  vertical-align: middle;
  color: #000;
}
.icon-close {
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
}
.btn-close {
  position: fixed;
  top: 10;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
/*MODAL Content*/
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}
/*MODAL HEADER*/

.modal-header {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.modal-player-name h2,
h1 {
  font-family: "Montserrat-ExtraBold";
}
.modal-player-name .firstname {
  -webkit-text-stroke-width: 4px;
  -moz-box-text-stroke-width: 4px;
  color: white;
  -webkit-text-stroke-color: var(--orange);
  -moz-box-shadow-stroke-color: var(--orange);
  font-size: 3em;
}

.modal-player-name .lastname {
  font-size: 3em;
  color: var(--orange);
}

/*FLAG*/
.country-flag-modal {
  text-align: center;
}
.country-flag-modal img {
  width: 90px;
  object-fit: contain;
}
.country-flag-modal .code-country {
  font-family: "Montserrat-thin";
  color: var(--back-opacity);
  font-size: 1.5em;
  letter-spacing: 0.5em;
  font-weight: 700;
}

/*MODAL BODY*/
.modal-body {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.2em;
  padding: 18px;
}

/*Details players*/
.all-details-player {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding-bottom: 1em;
}
.all-details-player .row-details {
  width: 100%;
  height: 34%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.all-details-player .row-details .type {
  letter-spacing: 0.09em;
}
.all-details-player .row-details .details-players {
  width: 100px;
  height: auto;
}

/*career*/
.career {
  width: 100%;
  font-family: "Mulish-Semibold";
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  color: var(--orange);
  font-size: 0.9em;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.career::-webkit-scrollbar {
  display: none;
}

.career-title {
  letter-spacing: 0.15em;
  font-family: "Mulish-Bold";
  color: var(--back-opacity);
}
.year-titles p {
  line-height: 1.5em;
  margin-top: 4px;
}
.year-titles .year {
  font-family: "Mulish-Bold";
}
@media only screen and (min-width: 768px) {
  .modal {
    bottom: 0;
    width: 76%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 83%;
    background-color: #fff;
  }
  .modal-header {
    width: 62vw;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .image-player-modal {
    position: absolute;
    height: 100%;
    width: 35%;
    bottom: 0;
    left: -139px;
  }
  .image-player-modal img {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    padding: 60px 60px 0 13em;
    overflow-y: hidden;
  }
  .modal-player-name .firstname {
    font-size: 6em;
  }
  .modal-player-name .lastname {
    font-size: 9em;
  }
  .country-flag-modal img {
    width: 225px;
    height: 125px;
  }
  .country-flag-modal .code-country {
    font-size: 3.5em;
    font-weight: 100;
  }
  /*MODAL BODY*/
  .modal-body {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.2em;
    padding: 65px 0 0 0;
  }
  .all-details-player {
    width: 60vw;
  }
  .all-details-player .row-details {
    width: 100%;
    height: 20%;
    gap: 3.5em;
  }

  .all-details-player .row-details .type {
    letter-spacing: 0.15em;
  }
  .career {
    width: 35vw;
  }

  .career:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 65%;
    bottom: 0px;
    background: linear-gradient(
      180deg,
      rgba(139, 167, 32, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
  }
}
