* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    43deg,
    rgba(244, 232, 222, 1) 0%,
    rgb(245, 152, 76) 35%,
    rgb(236, 136, 5) 100%
  );
}

input {
  all: inherit;
}
