* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
  background: linear-gradient(
    43deg,
    rgba(244, 232, 222, 1) 0%,
    rgb(245, 152, 76) 35%,
    rgb(236, 136, 5) 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Fonts*/
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./asset/font/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("./asset/font/Mulish/Mulish-Bold.ttf");
}
@font-face {
  font-family: "Mulish Semibold";
  src: url("./asset/font/Mulish/Mulish-Medium.ttf");
}
/*Variables*/
:root {
  --orange: #f2753b;
  --orange-light: #ebad65;
  --back-opacity: rgba(0, 0, 0, 0.3);
}

/*Reset proprities*/
input {
  all: unset;
}
